[submodule "pkg/admin/pwgen/src"]
	path = pkg/admin/pwgen/src
	url = https://github.com/tytso/pwgen.git
[submodule "pkg/admin/spm/src"]
	path = pkg/admin/spm/src
	url = https://github.com/rnpnr/spm.git
[submodule "pkg/arch/pigz/src"]
	path = pkg/arch/pigz/src
	url = https://github.com/madler/pigz.git
[submodule "pkg/crypt/b3sum/src"]
	path = pkg/crypt/b3sum/src
	url = https://git.sr.ht/~mcf/b3sum
[submodule "pkg/crypt/fspec-sync/src"]
	path = pkg/devel/fspec-sync/src
	url = https://github.com/oasislinux/fspec-sync.git
[submodule "pkg/devel/git/src"]
	path = pkg/devel/git/src
	url = https://github.com/git/git.git
	ignore = all
[submodule "pkg/devel/samurai/src"]
	path = pkg/devel/samurai/src
	url = https://github.com/michaelforney/samurai.git
[submodule "pkg/devel/the_silver_searcher/src"]
	path = pkg/devel/the_silver_searcher/src
	url = https://github.com/ggreer/the_silver_searcher.git
	ignore = all
[submodule "pkg/editors/vis/src"]
	path = pkg/editors/vis/src
	url = https://github.com/martanne/vis.git
	ignore = all
[submodule "pkg/lang/awk/src"]
	path = pkg/lang/awk/src
	url = https://github.com/onetrueawk/awk.git
[submodule "pkg/libs/bearssl/src"]
	path = pkg/libs/bearssl/src
	url = https://www.bearssl.org/git/BearSSL
	ignore = all
[submodule "pkg/libs/libgit2/src"]
	path = pkg/libs/libgit2/src
	url = https://github.com/libgit2/libgit2.git
[submodule "pkg/libs/libpng/src"]
	path = pkg/libs/libpng/src
	url = https://github.com/glennrp/libpng.git
[submodule "pkg/libs/libtls-bearssl/src"]
	path = pkg/libs/libtls-bearssl/src
	url = https://git.sr.ht/~mcf/libtls-bearssl
	ignore = all
[submodule "pkg/libs/netbsd-curses/src"]
	path = pkg/libs/netbsd-curses/src
	url = https://github.com/oasislinux/netbsd-curses.git
	ignore = all
[submodule "pkg/libs/zlib/src"]
	path = pkg/libs/zlib/src
	url = https://github.com/madler/zlib.git
[submodule "pkg/net/mblaze/src"]
	path = pkg/net/mblaze/src
	url = https://github.com/leahneukirchen/mblaze.git
[submodule "pkg/net/msmtp/src"]
	path = pkg/net/msmtp/src
	url = https://github.com/marlam/msmtp-mirror.git
[submodule "pkg/net/sfeed/src"]
	path = pkg/net/sfeed/src
	url = git://git.codemadness.org/sfeed
[submodule "pkg/sys/sbase/src"]
	path = pkg/sys/sbase/src
	url = git://git.suckless.org/sbase
[submodule "pkg/textproc/md4c/src"]
	path = pkg/textproc/md4c/src
	url = https://github.com/mity/md4c.git
[submodule "pkg/www/stagit/src"]
	path = pkg/www/stagit/src
	url = git://git.codemadness.org/stagit
